.card{
    background: rgb(61, 91, 156);
    box-shadow: 0 8px 32px 0 rgba(173, 139, 187, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 22px;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 120;
    margin: 0.8rem;
}

.card-title{
    width:100%;
    padding: 20px;
    font-size: 1.2rem;
    color: blue;
    background: rgba(3, 43, 221, 0.099);
    text-shadow: 1px 1px 5px #0000006d;
    text-align: center;

}

.card-value{
    font-size: 1rem;
    font-weight: bolder;
    color: blue;
    margin-top: 0.6rem; 
}
article.card:hover{
    background: #fff ;
}