.listCategories{
    background: white;
    box-shadow: 0 8px 32px 0 rgba(89, 97, 207, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 22px;
    width: 40%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-height: 120;
    margin: 0.8rem;
}
.card{
    background: rgba(255, 252, 252, 0.877);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 22px;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0.8rem;
}

.list-title{
    padding: 20px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px #0000006d;
    text-align: center;
}

.list-value{
    font-size: 1.6rem;
    font-weight: bolder;
    color: rgb(0, 0, 5);
    margin-top: 0.5rem;
}

div.listCategories:hover{
    background:linear-gradient(rgb(192, 150, 231), rgb(240, 240, 241))
}